autoaugment/data/
autoaugment/__pycache__
autoaugment/tmp/data/
autoaugment/tmp/trainig/
autoaugment_proposal/dlproposal.aux
autoaugment_proposal/dlproposal.log
autoaugment_proposal/dlproposal.synctex.gz
autoaugment_proposal/dlproposal.bbl
autoaugment_proposal/dlproposal.blg
autoaugment_proposal/dlproposal.pdf
*.pyc
*.png
